<?xml version="1.0" encoding="UTF-8"?>
<!-- status : 指定log4j本身的打印日志的级别.ALL< Trace < DEBUG < INFO < WARN < ERROR
    < FATAL < OFF。 monitorInterval : 用于指定log4j自动重新配置的监测间隔时间，单位是s,最小是5s. -->
<!--ACCEPT(接受)，DENY(拒绝)，NEUTRAL(中立)。-->
<Configuration status="DEBUG" monitorInterval="30">
    <Properties>
        <!-- 配置日志文件输出目录 ${sys:user.home} -->
        <Property name="LOG_HOME">d:/log</Property>
        <property name="ERROR_LOG_FILE_NAME">logs/rg/error</property>
        <property name="WARN_LOG_FILE_NAME">logs/rg/warn</property>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%L] %-5level %logger{36} - %msg%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">

            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="RollingFileDebug" fileName="${LOG_HOME}/debug.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100kB"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>

        <Root level="trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFileDebug"></AppenderRef>
        </Root>

        <!-- 配置日志的根节点 -->
        <!-- <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
            <appender-ref ref="RollingFileDebug"/>
        </root> -->
    </Loggers>


</Configuration>
