<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:conn="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
    <!--注解的适配器和映射器-->
    <mvc:annotation-driven ></mvc:annotation-driven>

    <!--扫描web-->
    <context:component-scan base-package="com.hy.crm.controller"></context:component-scan>


    <bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="characterEncoding" value="utf-8"></property>
        <!--配置前缀和后缀-->
        <property name="suffix" value=".html"></property>
        <!--配置是否双击可以直接查看，热部署-->
        <property name="cacheable" value="false"></property>
        <!--解析格式-->
        <property name="templateMode" value="HTML"></property>
    </bean>
    <!--配置模板引擎-->
    <bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
        <!--配置模板引擎解析器-->
        <property name="templateResolver" ref="templateResolver"></property>
    </bean>
    <!--配置视图解析器-->
    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="characterEncoding" value="utf-8"></property>
        <!--引用模板引擎-->
        <property name="templateEngine" ref="templateEngine"></property>
    </bean>

</beans>